.container {
    display: flex;
    gap : 24px;
    margin-top: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-radius: 8px;
    padding: 24px;
    gap : 12px
}
.card p {
    margin: 0;
    text-align: center;
}
.name {
    font-size: 24px;
    font-weight: 700;
}
.isOnline {
    font-weight: 500;
}
.offline {
    color : red;
}
.online {
    color : green;
}